In [8]:
#input
x=input("enter your name")
cname=input("Enter college name:")
sub=input("enter the subject:")
age=int(input("enter your age"))

#output
print("name:",x)
print("college name:",cname)
print("subject:",sub)
print("Age:",age)

enter your name sai vikas
Enter college name: sru
enter the subject: python
enter your age 20

name: sai vikas
college name: sru
subject: python
Age: 20

In [9]:
a,b,c,d=25,10,50,99
print(a is b)

False

In [12]:
a=b
print(a is b)
print(b is a)

True
True

In [16]:
c=10
print(a is c)
print(a is not c)
print(a is a)


print(a,b,c,d)

True
False
True
10 10 10 99

In [26]:
#condional statements
x=40
y=25
z=55
if (z>=35 and y>=35 and x>=35):
    print("pass")
else: 
    print ("fail")

fail

In [39]:
num=int(input("enter the number :"))
if num>0:
    if ((num%2)==0):
        print("number is even and positive")
else :
    print("number is negative")

enter the number : 655

In [49]:
age=int(input("enter your age :"))
if (age>=18):
    print("you can vote")
else:
    print("you can not vote ")

enter your age : 10

you can not vote

In [63]:
marks=int(input("enter your marks"))
if 100>=marks>=70:
    print("A+ GRADE")
elif 70>=marks>=60:
    print("A GRADE")
elif 60>=marks>=50:
    print("B grade")
elif 50>=marks>=35:
    print("C grade")
else :
    print("F grade")

enter your marks 121

F grade

In [80]:
int_year = int(input("Enter the year the car was bought: "))
km = int(input("Enter the KMS Driven: "))
dents = int(input("If there are dents, enter the number of dents; if no dents, enter 0: "))
AC = int(input("If any accidents happened, enter 1; if no accidents, enter 0: "))
value = int(input("Enter the car price: "))

f = value - ((2024 - int_year) * 0.06 * value) - ((km / 10000) * 0.01 * value) - (dents * 0.002 * value) - (AC * 0.20 * value)
print(f"Final car value: {f}")

enter the year of car brought 2021
enter the KMS Driven 10000
IF DENTS ENTER THE NO OF DENTS ,IF THERE IS NO DENTS ENTER 0 2
if any accidents happend enter 1,if there are accidents enter 0 0
enter the car price 1000000

806000.0